.unyt-carousel-navigation {
	--_ca-text-primary: var(--carousel-text-primary, var(--unyt-text-primary));
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 20px;
	&>span {
		border-radius: 1000px;
		width: 12px;
		height: 12px;
		aspect-ratio: 1/1;
		background-color: var(--_ca-text-primary);
		opacity: 0.1;
		transition: opacity 0.2s, transform 0.1s;
		&:hover {
			transform: scale(1.2);
		}
		&:active {
			transform: scale(0.9);
		}
	}
}
span.active {
	opacity: 0.8;
}