@import url("https://dev.cdn.unyt.org/uix/style/fontawesome.css");
:root {
	--accent: blue;

	/* text */
	--unyt-dark-text-primary: #ffffff;
	--unyt-light-text-primary: #000000;

	--unyt-dark-text-secondary: #dfdfdf;
	--unyt-light-text-secondary: #2a2a2a;

	/* button */
	--unyt-dark-button-primary: #ffffff;
	--unyt-light-button-primary: #000000;

	--unyt-dark-button-secondary: #1d1d1d;
	--unyt-light-button-secondary: #dedede;
	
	/* background */
	--unyt-dark-bg-primary: #111111;
	--unyt-light-bg-primary: #ffffff;

	--unyt-dark-bg-primary-hover: #232323;
	--unyt-light-bg-primary-hover: #f0f0f0;

	--unyt-dark-bg-primary-selected: #3a3a3a;
	--unyt-light-bg-primary-selected: #bbbbbb;


	--unyt-dark-bg-secondary: #1b1b1b;
	--unyt-light-bg-secondary: #f6f6f6;
	
	--unyt-dark-bg-controls: #212121;
	--unyt-light-bg-controls: #ffffff;

	--unyt-dark-bg-alert: #2b2b2b;
	--unyt-light-bg-alert: #eeeeee;

	/* border */
	--unyt-dark-border-primary: hsla(0, 0%, 100%, .1);
	--unyt-light-border-primary: hsla(0, 0%, 0%, 0.1);
	--unyt-dark-border-invalid: rgb(215, 26, 26);
	--unyt-light-border-invalid: rgb(215, 26, 26);
}

.unyt-background-image[data-mode="dark"] {
	background-image: var(--image-dark, None);
}
.unyt-background-image[data-mode="light"] {
	background-image: var(--image-light, None);
}

.unyt-popover-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	backdrop-filter: blur(7px) brightness(0.2) contrast(1.2);
}

textarea,
select,
input:not([type="checkbox"]),
progress {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
* {
	color: inherit;
	font-family: inherit;
}
*, *::before, *::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
}
body {
	display: contents;
	background-color: var(--unyt-bg-primary);
	color: var(--unyt-text-primary);
}

p, h1, h2, h3, h4, h5, h6 {
	text-wrap: pretty;
	overflow-wrap: break-word;
}
h1, h2, h3 {
	line-height: 1.1;
}

a, a:visited {
	color: var(--accent);
	text-underline-position: under;
}



.animate {
    opacity: 0;
	animation: fadeInUp 0.6s ease forwards;
	animation-timeline: view();
	animation-range: entry 40% cover 50%;

	&.left {
		animation-name: fadeInLeft;
	}
	&.right {
		animation-name: fadeInRight;
	}
}
.animate-reverse {
    opacity: 1;
    animation: fadeOut 0.6s ease forwards;
    animation-timeline: view();
    animation-range: exit 0% exit 30%; 
}
@media (prefers-reduced-motion: no-preference) {
    .animate {
        animation: fadeInUp 0.6s ease forwards;
        animation-timeline: view();
        animation-range: entry 40% cover 50%;

		&.left {
			animation-name: fadeInLeft;
    	}

		&.right {
			animation-name: fadeInRight;
		}  
    }
	.animate-reverse {
		opacity: 1;
		animation: fadeOut 0.6s ease forwards;
		animation-timeline: view();
		animation-range: exit 0% exit 30%;  
	}
}

@keyframes fadeInUp {
	from { opacity: 0; transform: translateY(20px); }
	to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInLeft {
	from { opacity: 0; transform: translateX(-50px); }
	to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
	from { opacity: 0; transform: translateX(50px); }
	to { opacity: 1; transform: translateX(0); }
}
@keyframes fadeOut {
	from {opacity: 1; transform: translateY(20px);}
	to {opacity: 0; transform: translateY(0);}
}